In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=1707381d3d3c91bc7c2d53c78dd0ff7f854b39dd62bf63de783bedf203c91b09
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

In [ ]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")

# create the context
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()

In [ ]:
spark

In [ ]:
!wget https://bigdata-ir.com/wp-content/uploads/2020/12/digikala_datasetwww.bigdata-ir.com_.zip

--2023-11-02 12:26:37--  https://bigdata-ir.com/wp-content/uploads/2020/12/digikala_datasetwww.bigdata-ir.com_.zip
Resolving bigdata-ir.com (bigdata-ir.com)... 51.254.162.25
Connecting to bigdata-ir.com (bigdata-ir.com)|51.254.162.25|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 81695907 (78M) [application/zip]
Saving to: ‘digikala_datasetwww.bigdata-ir.com_.zip’

digikala_datasetwww 100%[===================>]  77.91M  20.2MB/s    in 5.8s

2023-11-02 12:26:44 (13.5 MB/s) - ‘digikala_datasetwww.bigdata-ir.com_.zip’ saved [81695907/81695907]

In [ ]:
!unzip digikala_datasetwww.bigdata-ir.com_.zip

Archive:  digikala_datasetwww.bigdata-ir.com_.zip
   creating: digikala_dataset[www.bigdata-ir.com]/
  inflating: digikala_dataset[www.bigdata-ir.com]/comment.xlsx
  inflating: digikala_dataset[www.bigdata-ir.com]/keifiat.xlsx
  inflating: digikala_dataset[www.bigdata-ir.com]/orders.csv
  inflating: digikala_dataset[www.bigdata-ir.com]/product.xlsx
  inflating: digikala_dataset[www.bigdata-ir.com]/tarikhche kharid.csv

In [ ]:
import os
os.rename('digikala_dataset[www.bigdata-ir.com]', 'digikala_dataset')

In [ ]:
orders_df = spark.read.csv("digikala_dataset/orders.csv" , header=True)

In [ ]:
orders_df.printSchema()

root
 |-- ID_Order: string (nullable = true)
 |-- ID_Customer: string (nullable = true)
 |-- ID_Item: string (nullable = true)
 |-- DateTime_CartFinalize: string (nullable = true)
 |-- Amount_Gross_Order: string (nullable = true)
 |-- city_name_fa: string (nullable = true)
 |-- Quantity_item: string (nullable = true)

In [ ]:
orders_df = spark.read.csv("digikala_dataset/orders.csv" , header=True, inferSchema=True)
orders_df.printSchema()

root
 |-- ID_Order: integer (nullable = true)
 |-- ID_Customer: integer (nullable = true)
 |-- ID_Item: integer (nullable = true)
 |-- DateTime_CartFinalize: timestamp (nullable = true)
 |-- Amount_Gross_Order: double (nullable = true)
 |-- city_name_fa: string (nullable = true)
 |-- Quantity_item: double (nullable = true)

In [ ]:
orders_df.show(10)

+--------+-----------+-------+---------------------+------------------+------------+-------------+
|ID_Order|ID_Customer|ID_Item|DateTime_CartFinalize|Amount_Gross_Order|city_name_fa|Quantity_item|
+--------+-----------+-------+---------------------+------------------+------------+-------------+
| 2714054|     469662|  21386|  2015-10-15 08:50:56|          597982.0|  محمود آباد|          1.0|
|11104039|    3063877| 248497|  2018-02-11 00:29:26|          980000.0|      خرمدره|          1.0|
| 4228130|    3184893|  50144|  2016-06-14 00:30:08|          229358.0|        قرچک|          1.0|
|22225624|    6888562|  70208|  2018-09-03 14:37:19|           16514.0|          قم|          1.0|
| 4068771|    2533490|  67627|  2016-05-21 11:51:02|          133028.0|       تهران|          1.0|
|11479246|    2841640| 312932|  2018-03-01 12:07:15|          290000.0|        مشهد|          1.0|
| 8267421|    5235886|  42365|  2017-08-19 13:30:24|           55046.0|      اصفهان|          1.0|
|11588978|    5574955| 715680|  2018-03-04 19:19:02|         2790000.0|         رشت|          1.0|
| 9916301|    1145709| 102588|  2017-12-11 19:33:59|           34862.0|       تهران|          1.0|
|10740652|    4928230| 658519|  2018-01-23 06:11:34|         2600000.0|      خرمشهر|          1.0|
+--------+-----------+-------+---------------------+------------------+------------+-------------+
only showing top 10 rows

In [ ]:
orders_df.count()

200000

In [ ]:
orders_df.show(5)

+--------+-----------+-------+---------------------+------------------+------------+-------------+
|ID_Order|ID_Customer|ID_Item|DateTime_CartFinalize|Amount_Gross_Order|city_name_fa|Quantity_item|
+--------+-----------+-------+---------------------+------------------+------------+-------------+
| 2714054|     469662|  21386|  2015-10-15 08:50:56|          597982.0|  محمود آباد|          1.0|
|11104039|    3063877| 248497|  2018-02-11 00:29:26|          980000.0|      خرمدره|          1.0|
| 4228130|    3184893|  50144|  2016-06-14 00:30:08|          229358.0|        قرچک|          1.0|
|22225624|    6888562|  70208|  2018-09-03 14:37:19|           16514.0|          قم|          1.0|
| 4068771|    2533490|  67627|  2016-05-21 11:51:02|          133028.0|       تهران|          1.0|
+--------+-----------+-------+---------------------+------------------+------------+-------------+
only showing top 5 rows

In [ ]:
orders_df=orders_df.drop(orders_df.Amount_Gross_Order,orders_df.city_name_fa ,orders_df.Quantity_item)
orders_df.show(5)

+--------+-----------+-------+---------------------+
|ID_Order|ID_Customer|ID_Item|DateTime_CartFinalize|
+--------+-----------+-------+---------------------+
| 2714054|     469662|  21386|  2015-10-15 08:50:56|
|11104039|    3063877| 248497|  2018-02-11 00:29:26|
| 4228130|    3184893|  50144|  2016-06-14 00:30:08|
|22225624|    6888562|  70208|  2018-09-03 14:37:19|
| 4068771|    2533490|  67627|  2016-05-21 11:51:02|
+--------+-----------+-------+---------------------+
only showing top 5 rows

In [ ]:
orders_df=orders_df.drop('Amount_Gross_Order','city_name_fa' ,'Quantity_item')
orders_df.show(5)

+--------+-----------+-------+---------------------+
|ID_Order|ID_Customer|ID_Item|DateTime_CartFinalize|
+--------+-----------+-------+---------------------+
| 2714054|     469662|  21386|  2015-10-15 08:50:56|
|11104039|    3063877| 248497|  2018-02-11 00:29:26|
| 4228130|    3184893|  50144|  2016-06-14 00:30:08|
|22225624|    6888562|  70208|  2018-09-03 14:37:19|
| 4068771|    2533490|  67627|  2016-05-21 11:51:02|
+--------+-----------+-------+---------------------+
only showing top 5 rows

In [ ]:
tarikhe_kharid_df = spark.read.csv("digikala_dataset/tarikhche kharid.csv" , header=True)
tarikhe_kharid_df.show()

+--------+------------------+-------------+---------+----------+---------+-----------+--------+------+----+---------------------+------+-------------------+----------+---------------------+
|      id|product_variant_id|selling_price|rrp_price|base_price|buy_price|order_limit|start_at|end_at|tags|show_in_price_history|active|         created_at|product_id|marketplace_seller_id|
+--------+------------------+-------------+---------+----------+---------+-----------+--------+------+----+---------------------+------+-------------------+----------+---------------------+
|18752043|           1977385|       850000|   850000|        \N|       \N|          1|      \N|    \N|  \N|                    1|     1|2018-11-26 18:59:52|    667969|                 2962|
|18752022|           1977380|     12550000| 12550000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     0|2018-11-26 18:59:31|    150144|                78525|
|18752046|           1977380|     12500000| 12500000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     1|2018-11-26 18:59:55|    150144|                78525|
|18751982|           1977374|       310000|   310000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     0|2018-11-26 18:58:48|    908541|                 4199|
|18752018|           1977374|       300000|   300000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     1|2018-11-26 18:59:28|    908541|                 4199|
|18751959|           1977367|     15500000| 15500000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     0|2018-11-26 18:58:19|    150144|                78525|
|18752064|           1977367|     12500000| 12500000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     1|2018-11-26 19:00:16|    150144|                78525|
|18751958|           1977366|       750000|   750000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     1|2018-11-26 18:58:19|    197348|                11436|
|18751880|           1977358|     15800000| 15800000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     1|2018-11-26 18:56:59|    150144|                78525|
|18751863|           1977354|      3500000|  3500000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     1|2018-11-26 18:56:47|    485078|                66785|
|18751736|           1977341|      1940000|  1940000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     1|2018-11-26 18:54:30|    955126|                59190|
|18751716|           1977336|      1940000|  1940000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     1|2018-11-26 18:54:09|    955126|                59190|
|18751700|           1977334|       317000|   317000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     1|2018-11-26 18:53:54|    300629|                79868|
|18751633|           1977325|       850000|   850000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     1|2018-11-26 18:52:41|    480404|                11436|
|18751578|           1977319|       210000|   210000|        \N|       \N|          5|      \N|    \N|  \N|                    1|     1|2018-11-26 18:51:56|    771136|                83712|
|18751563|           1977316|     15950000| 15950000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     1|2018-11-26 18:51:39|    872176|                  570|
|18751527|           1977306|        77000|    77000|        \N|       \N|          5|      \N|    \N|  \N|                    1|     1|2018-11-26 18:50:56|    726457|                83712|
|18751497|           1977298|      6200000|  6200000|        \N|       \N|          1|      \N|    \N|  \N|                    1|     1|2018-11-26 18:50:32|    129573|                79924|
|18751461|           1977293|        65000|    65000|        \N|       \N|         10|      \N|    \N|  \N|                    1|     1|2018-11-26 18:49:49|    837305|                83712|
|18751451|           1977292|     26990000| 26990000|        \N|       \N|          2|      \N|    \N|  \N|                    1|     1|2018-11-26 18:49:35|    879029|                  570|
+--------+------------------+-------------+---------+----------+---------+-----------+--------+------+----+---------------------+------+-------------------+----------+---------------------+
only showing top 20 rows

In [ ]:
tarikhe_kharid_df = tarikhe_kharid_df.select(tarikhe_kharid_df.id, tarikhe_kharid_df.selling_price, tarikhe_kharid_df.product_id)
tarikhe_kharid_df.show()

+--------+-------------+----------+
|      id|selling_price|product_id|
+--------+-------------+----------+
|18752043|       850000|    667969|
|18752022|     12550000|    150144|
|18752046|     12500000|    150144|
|18751982|       310000|    908541|
|18752018|       300000|    908541|
|18751959|     15500000|    150144|
|18752064|     12500000|    150144|
|18751958|       750000|    197348|
|18751880|     15800000|    150144|
|18751863|      3500000|    485078|
|18751736|      1940000|    955126|
|18751716|      1940000|    955126|
|18751700|       317000|    300629|
|18751633|       850000|    480404|
|18751578|       210000|    771136|
|18751563|     15950000|    872176|
|18751527|        77000|    726457|
|18751497|      6200000|    129573|
|18751461|        65000|    837305|
|18751451|     26990000|    879029|
+--------+-------------+----------+
only showing top 20 rows

In [ ]:
join_df = orders_df.join(tarikhe_kharid_df, orders_df.ID_Item == tarikhe_kharid_df.product_id)

# Show the resulting dataframe
join_df.show()

+--------+-----------+-------+---------------------+--------+-------------+----------+
|ID_Order|ID_Customer|ID_Item|DateTime_CartFinalize|      id|selling_price|product_id|
+--------+-----------+-------+---------------------+--------+-------------+----------+
| 8485450|    1171373| 197348|  2017-09-08 13:25:37|18751958|       750000|    197348|
| 7601472|    3696341| 197348|  2017-06-18 23:09:34|18751958|       750000|    197348|
| 2310382|    1280801|  31707|  2015-07-14 23:28:33|18750705|     19950000|     31707|
| 2456688|     482960|  31707|  2015-08-19 21:03:24|18750705|     19950000|     31707|
| 1485949|    1232026|  31707|  2014-10-29 18:41:23|18750705|     19950000|     31707|
| 2506253|     605225|  31707|  2015-08-31 21:49:58|18750705|     19950000|     31707|
| 1819620|     837421|  31707|  2015-03-04 15:08:47|18750705|     19950000|     31707|
| 2859455|     475950|  31707|  2015-11-14 23:54:23|18750705|     19950000|     31707|
| 2453887|     800098|  31707|  2015-08-19 04:01:13|18750705|     19950000|     31707|
| 1672413|    1372849|  31707|  2015-01-21 12:14:17|18750705|     19950000|     31707|
| 1698170|     906015|  31707|  2015-01-29 11:38:33|18750705|     19950000|     31707|
| 3422478|    3553135|   7793|  2016-02-14 12:15:36|18750371|       180000|      7793|
| 5621715|    1067185| 158116|  2016-12-03 21:23:41|18750112|       180000|    158116|
|10079845|    3020682| 395635|  2017-12-19 22:49:16|18750027|       700000|    395635|
|23636704|     756176| 714472|  2018-10-28 17:29:05|18748560|       170000|    714472|
|10754780|    1394308| 281581|  2018-01-23 12:58:38|18748537|      1270000|    281581|
| 7616915|    4692314| 281581|  2017-06-20 11:54:59|18748537|      1270000|    281581|
|12082291|    3371841| 281581|  2018-03-27 22:49:32|18748537|      1270000|    281581|
| 6724903|    3489562| 299200|  2017-03-12 14:52:32|18748143|       710000|    299200|
|12805181|    7124824| 598079|  2018-05-07 17:33:02|18748089|       350000|    598079|
+--------+-----------+-------+---------------------+--------+-------------+----------+
only showing top 20 rows

In [ ]:
orders_count = join_df.groupBy('product_id').count()
orders_count.orderBy(desc('count')).first()

Row(product_id='179064', count=34095)

In [ ]:
from pyspark.sql.functions import when
df=join_df.withColumn("type", when((join_df.DateTime_CartFinalize < '2015')
                            , lit("old")).when((join_df.DateTime_CartFinalize > '2015')
                            & (join_df.DateTime_CartFinalize < '2017'), lit("not_old")).otherwise(lit("new")))

In [ ]:
df.show()

+--------+-----------+-------+---------------------+--------+-------------+----------+-------+
|ID_Order|ID_Customer|ID_Item|DateTime_CartFinalize|      id|selling_price|product_id|   type|
+--------+-----------+-------+---------------------+--------+-------------+----------+-------+
| 8485450|    1171373| 197348|  2017-09-08 13:25:37|18751958|       750000|    197348|    new|
| 7601472|    3696341| 197348|  2017-06-18 23:09:34|18751958|       750000|    197348|    new|
| 2310382|    1280801|  31707|  2015-07-14 23:28:33|18750705|     19950000|     31707|not_old|
| 2456688|     482960|  31707|  2015-08-19 21:03:24|18750705|     19950000|     31707|not_old|
| 1485949|    1232026|  31707|  2014-10-29 18:41:23|18750705|     19950000|     31707|    old|
| 2506253|     605225|  31707|  2015-08-31 21:49:58|18750705|     19950000|     31707|not_old|
| 1819620|     837421|  31707|  2015-03-04 15:08:47|18750705|     19950000|     31707|not_old|
| 2859455|     475950|  31707|  2015-11-14 23:54:23|18750705|     19950000|     31707|not_old|
| 2453887|     800098|  31707|  2015-08-19 04:01:13|18750705|     19950000|     31707|not_old|
| 1672413|    1372849|  31707|  2015-01-21 12:14:17|18750705|     19950000|     31707|not_old|
| 1698170|     906015|  31707|  2015-01-29 11:38:33|18750705|     19950000|     31707|not_old|
| 3422478|    3553135|   7793|  2016-02-14 12:15:36|18750371|       180000|      7793|not_old|
| 5621715|    1067185| 158116|  2016-12-03 21:23:41|18750112|       180000|    158116|not_old|
|10079845|    3020682| 395635|  2017-12-19 22:49:16|18750027|       700000|    395635|    new|
|23636704|     756176| 714472|  2018-10-28 17:29:05|18748560|       170000|    714472|    new|
|10754780|    1394308| 281581|  2018-01-23 12:58:38|18748537|      1270000|    281581|    new|
| 7616915|    4692314| 281581|  2017-06-20 11:54:59|18748537|      1270000|    281581|    new|
|12082291|    3371841| 281581|  2018-03-27 22:49:32|18748537|      1270000|    281581|    new|
| 6724903|    3489562| 299200|  2017-03-12 14:52:32|18748143|       710000|    299200|    new|
|12805181|    7124824| 598079|  2018-05-07 17:33:02|18748089|       350000|    598079|    new|
+--------+-----------+-------+---------------------+--------+-------------+----------+-------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import datediff, current_date

# making datesDiff
df = df.withColumn("datesDiff", datediff(current_date(), df["DateTime_CartFinalize"]))

df.show()

+--------+-----------+-------+---------------------+--------+-------------+----------+-------+---------+
|ID_Order|ID_Customer|ID_Item|DateTime_CartFinalize|      id|selling_price|product_id|   type|datesDiff|
+--------+-----------+-------+---------------------+--------+-------------+----------+-------+---------+
| 8485450|    1171373| 197348|  2017-09-08 13:25:37|18751958|       750000|    197348|    new|     2246|
| 7601472|    3696341| 197348|  2017-06-18 23:09:34|18751958|       750000|    197348|    new|     2328|
| 2310382|    1280801|  31707|  2015-07-14 23:28:33|18750705|     19950000|     31707|not_old|     3033|
| 2456688|     482960|  31707|  2015-08-19 21:03:24|18750705|     19950000|     31707|not_old|     2997|
| 1485949|    1232026|  31707|  2014-10-29 18:41:23|18750705|     19950000|     31707|    old|     3291|
| 2506253|     605225|  31707|  2015-08-31 21:49:58|18750705|     19950000|     31707|not_old|     2985|
| 1819620|     837421|  31707|  2015-03-04 15:08:47|18750705|     19950000|     31707|not_old|     3165|
| 2859455|     475950|  31707|  2015-11-14 23:54:23|18750705|     19950000|     31707|not_old|     2910|
| 2453887|     800098|  31707|  2015-08-19 04:01:13|18750705|     19950000|     31707|not_old|     2997|
| 1672413|    1372849|  31707|  2015-01-21 12:14:17|18750705|     19950000|     31707|not_old|     3207|
| 1698170|     906015|  31707|  2015-01-29 11:38:33|18750705|     19950000|     31707|not_old|     3199|
| 3422478|    3553135|   7793|  2016-02-14 12:15:36|18750371|       180000|      7793|not_old|     2818|
| 5621715|    1067185| 158116|  2016-12-03 21:23:41|18750112|       180000|    158116|not_old|     2525|
|10079845|    3020682| 395635|  2017-12-19 22:49:16|18750027|       700000|    395635|    new|     2144|
|23636704|     756176| 714472|  2018-10-28 17:29:05|18748560|       170000|    714472|    new|     1831|
|10754780|    1394308| 281581|  2018-01-23 12:58:38|18748537|      1270000|    281581|    new|     2109|
| 7616915|    4692314| 281581|  2017-06-20 11:54:59|18748537|      1270000|    281581|    new|     2326|
|12082291|    3371841| 281581|  2018-03-27 22:49:32|18748537|      1270000|    281581|    new|     2046|
| 6724903|    3489562| 299200|  2017-03-12 14:52:32|18748143|       710000|    299200|    new|     2426|
|12805181|    7124824| 598079|  2018-05-07 17:33:02|18748089|       350000|    598079|    new|     2005|
+--------+-----------+-------+---------------------+--------+-------------+----------+-------+---------+
only showing top 20 rows

In [ ]:
df.filter(df.selling_price==710000).count()

480

*************************************************************************************

In [ ]:
from pyspark import SparkFiles

from pyspark.sql import SparkSession
from pyspark.ml.feature import StringIndexer, VectorAssembler, OneHotEncoder
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Create a Spark session
spark = SparkSession.builder.appName("Decision Tree Model").getOrCreate()

# Load the Iris dataset
url = "https://raw.githubusercontent.com/selva86/datasets/master/Iris.csv"
spark.sparkContext.addFile(url)

# Read the dataset into a DataFrame
df = spark.read.csv("file://" + SparkFiles.get("Iris.csv"), header=True, inferSchema=True)

# Preprocessing: StringIndexer for categorical labels
label_indexer = StringIndexer(inputCol="Species", outputCol="label")
data = label_indexer.fit(df).transform(df)

# Preprocessing: VectorAssembler for feature columns
assembler = VectorAssembler(inputCols=["SepalLengthCm", "SepalWidthCm", "PetalLengthCm", "PetalWidthCm"], outputCol="features")
data = assembler.transform(data)

# Split data into training and testing sets
train_data, test_data = data.randomSplit([0.8, 0.2], seed=42)

# Create a Decision Tree Classifier instance
dt_classifier = DecisionTreeClassifier(labelCol="label", featuresCol="features")

# Train the model
model = dt_classifier.fit(train_data)

# Make predictions on the test data
predictions = model.transform(test_data)

# Evaluate the model performance
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)

print(f"Test Accuracy: {accuracy:.2f}")

Test Accuracy: 0.92